img {
	display: block; 
	margin: 0 auto; 
	background: #D8D8D8; 
	border: 4px solid #FFFFFF; 
	position: relative; 
	bottom: -80px;
	z-index: 1;
}

.card {
	background: #F4F4F4; 
	height: 30vh; 
	display: flex;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15), 0 6px 11px 3px rgba(0,0,0,0.04); 
	width: 357px; 
	margin: 0 auto; 
	padding: 16px; 
	flex-direction: column;
}

.text {
	margin-left: 1em; 
	margin-top: 70px; 
	margin-right: 1em;
}

p {
	font-size: 14px; 
	color: rgba(0,0,0,0.54);
	text-align: center;
	line-height: 20px;
}

hr {
	border: 1px solid rgba(0,0,0,0.15); 
	width: 100%; 
	margin-left: 10%;
}

.buttons {
	position: relative; align-self: center;
}